$colorDark:#222;
$colorLight:white;
$mainColor:brown;
$secondColor:rgba(255, 166, 0, 0.418);
$duration:3s;


@if $mainColor == green{
    $mainColor:lime;
}

body{
    background-image:radial-gradient(lighten($colorDark, 20%),$colorDark) ;
    background-size: 100vw 100vh;

}

.fan{
    list-style: none;
    padding: 0;
    margin: 0;
    li{
        background: $mainColor;
        padding:2.5em;
        // border:1px solid red;
        width:40em;
        // height: 3em;
        position: absolute;
        top: 50%;
        margin: 0;
        right: 0;
        left:0;
        margin:auto;
        transform-origin:90%;
        border-radius: 3em 50% 50% 3em;
        transition: $duration/3;
        &::before{
            content:'';
            display: block;
            width: 1em;
            height: 1em;
            background:$colorDark;
            position: absolute;
            right: 6%;
            top:3.3em;
            border-radius: 100%;
            box-shadow: 0 0 0.7em 0em  $colorDark;
           


        }
        

        @for $n from 1 through 13{

       
            &:nth-child(#{$n}){
                background-color: lighten(darken($mainColor,40%),3% * $n);
                transform: rotate(0deg);
                box-shadow: 0 0 0.5em 0.25em
                    lighten($colorDark,0.25%* $n);

                    h2, p{
                        margin: 0;
                        color: darken($colorLight,26%-2%*$n);}
                    
            }
            &:hover:nth-child(#{$n}){
                background-color: $secondColor;
             cursor: pointer;
            }
        }

        
    }
    &:hover li{
        @for $n from 1 through 13{

       
            &:nth-child(#{$n}){
                // background-color: lighten(darken($mainColor,40%),3% * $n);
                transform: rotate(105 - $n * 15deg);
                // box-shadow: 0 0 0.5em 0.25em
                //     lighten($colorDark,0.25%* $n);

                    h2, p{
                        margin: 0;
                        color: darken($colorLight,26%-2%*$n);}
                       
                    
            }
        &:target li:nth-child(1){
            transform: rotate(180deg);

        }
     
     
     
        }
    

    }
       
}